
<div id="top">
  
    <img src="images/fire-warrior.jpg" id="fireWarror" class="img-responsive">
</div>

<section id="news">
<div class="panel panel-voz-default" >
	<div class="panel-heading">
		<h3 class="md-headline panel-title">News</h3>
	</div>
    <div class="panel-body" >
        <img src="images/about/news_banner.png" class=" pull-left img-rounded">
        <p>Check back here for new updates on Visions of Zosimos, as well as check out our other media feeds such as Facebook, Twitter, and our DevBlog to name just a few.</p>
        
    </div>
</div>
</section>
<section id="video">
<div class="panel panel-voz-default"  >
	<div class="panel-heading">
		<h3 class="md-headline panel-title">Video</h3>
	</div>
		<div class="panel-body">
			
			
			<div hide-sm hide-xs><img src="images/about/video_banner.png" class=" pull-right img-rounded"></div>
			<div layout="row" layout-sm="column" layout-xs="column" layout-md="column"  >
				<div hide-gt-xs>
                	<iframe width="300" height="169" src="https://www.youtube.com/embed/qqpf5Yv3mXs?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div hide-gt-xs>
                	<iframe width="300" height="169" src="https://www.youtube.com/embed/X7g1DvtfX4s?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                
                <div hide-gt-sm hide-xs>
                	<iframe width="500" height="281" src="https://www.youtube.com/embed/qqpf5Yv3mXs?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div hide-gt-sm hide-xs>
                	<iframe width="500" height="281" src="https://www.youtube.com/embed/X7g1DvtfX4s?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                          
                <div hide-gt-lg>
                <iframe width="580" height="326" src="https://www.youtube.com/embed/qqpf5Yv3mXs?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div hide-gt-lg >
                    <iframe width="580" height="326" src="https://www.youtube.com/embed/X7g1DvtfX4s?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                
                
            </div>
		</div>
</div>
</section>

<section id="streams">
<div class="panel panel-voz-default" >
	<div class="panel-heading">
		<h3 class="md-headline panel-title">Streams</h3>
	</div>
    <div class="panel-body" >
        <img src="images/about/live_banner.png" class=" pull-left img-rounded img-responsive" hide-xs hide-sm>
        <div layout="row" layout-align="center start" layout-sm="column" layout-xs="column">
        	<div id="live">
            <div hide-gt-xs>
            	<iframe  width="300" height="169" src="http://player.twitch.tv/?channel=visionsofzosimos&client_id=j0w6np1aw48xh2nzcfu4updduy8e0ez" frameborder="0" allowfullscreen="yes"></iframe>
            </div>
            <div hide-gt-sm hide-xs>
                <iframe  width="585" height="300" src="http://player.twitch.tv/?channel=visionsofzosimos&client_id=j0w6np1aw48xh2nzcfu4updduy8e0ez" frameborder="0" allowfullscreen="yes"></iframe>
            </div>
            <div hide-gt-md hide-sm hide-xs>
                <iframe  width="630" height="360" src="http://player.twitch.tv/?channel=visionsofzosimos&client_id=j0w6np1aw48xh2nzcfu4updduy8e0ez" frameborder="0" allowfullscreen="yes"></iframe>
            </div>
            <div hide-gt-lg hide-md hide-sm hide-xs>
                <iframe  width="853" height="480" src="http://player.twitch.tv/?channel=visionsofzosimos&client_id=j0w6np1aw48xh2nzcfu4updduy8e0ez" frameborder="0" allowfullscreen="yes"></iframe>
            </div>
            <div hide-gt-xl hide-lg hide-md hide-sm hide-xs>
                <iframe  width="1280" height="720" src="http://player.twitch.tv/?channel=visionsofzosimos&client_id=j0w6np1aw48xh2nzcfu4updduy8e0ez" frameborder="0" allowfullscreen="yes"></iframe>
            </div>

         
        </div>
        <div id="live-right" layout="column">
            <a hide-xs href="http://www.donation-tracker.com/u/voz" target="_blank"><img src="images/support-voz.png" class="margin-5-bottom center-block" /></a>
            <div class="textBackground">
                <p>Welcome to the Official Visions of Zosimos Twitch Feed!</p>
    
                <p>Visions of Zosimos is a Free to Play Online, Strategy Board &amp; Collectible Card Game.</p>
                
                <p>For your Alpha Key, <a ng-href="/#/about#download">click here</a></p>
                
                <p>Join us every Sunday Night at 5pm <abbr title="Central Time Zone">(cst)</abbr> to Alpha Test VoZ with the Development Team.<p>
                
                <p>Stay tuned in weekly as our Artist's and Developers here at Forever Interactive stream LIVE as they work on Visions of Zosimos!</p>
                
                <p>Thank's for watching our Channel, don't forget to follow, and we will see you in the Afterlife!</p>
                
                <p>-The Visions of Zosimos Development Team</p>
            </div>
        </div>
        
        
    </div>
</div>
</section>

<!--<section id="sketchup">
<div class="panel panel-voz-default" >
	<div class="panel-heading">
		<h3 class="md-headline panel-title">Sketch Up</h3>
	</div>
    <div class="panel-body" >
        <img src="images/about/sketchup_banner.png" class=" pull-right img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et est sodales, lobortis quam non, venenatis dui. Nunc porta mi turpis, eu tempor diam faucibus id. Curabitur pulvinar lobortis eros vel molestie. 
        In ornare consectetur enim, nec tempor est viverra sed. Aliquam tempus odio laoreet, tincidunt erat facilisis, rhoncus nunc. Cras porta odio quis aliquet molestie. Curabitur pulvinar, mi eu porttitor efficitur,
        metus nisi ultrices lacus, eget pretium lorem ante vel erat. Aliquam mauris mi, sagittis a mattis sit amet, sagittis et nibh. Nullam scelerisque, ante vitae vehicula suscipit, leo lectus tristique elit, at
        accumsan magna quam sed enim. Suspendisse eu massa mollis, blandit neque eget, vestibulum eros. Donec consectetur est eget neque porttitor, at porta arcu euismod. Donec ut mauris blandit, gravida metus tempor,
        scelerisque leo.</p>
        <p>Cras tincidunt purus vel mauris egestas, id varius nisl tempor. Phasellus ac ligula ullamcorper, dapibus arcu nec, porttitor libero. Integer suscipit eget tellus consectetur malesuada. Cras imperdiet tempor
        est vel porttitor. Etiam quis lorem et eros semper facilisis. Quisque condimentum imperdiet posuere. Donec vel turpis non libero tincidunt blandit in ac magna. Nullam viverra lorem sit amet purus hendrerit viverra.
        Morbi vitae dictum mauris, vel euismod tortor. Sed varius neque a ipsum ullamcorper, et eleifend lectus porta.</p>
        
        <p>Suspendisse aliquet nisi id gravida tincidunt. Nulla vel eros ac lectus maximus porttitor id eget urna. Nulla et vehicula massa, ut tincidunt ante. Fusce in turpis venenatis, interdum lectus non, rutrum felis.
        Donec vulputate leo et dui ullamcorper maximus. Curabitur at imperdiet libero. Pellentesque ut finibus lectus. Suspendisse magna odio, aliquam eu eros in, feugiat feugiat erat. Integer non tortor sem. Suspendisse
        a ex efficitur, vestibulum lectus a, sodales velit. </p>
        
    </div>
</div>
</section>-->

<section id="wallpaper">
<div class="panel panel-voz-default"  >
	<div class="panel-heading">
		<h3 class="md-headline panel-title">Wallpaper</h3>
	</div>
		<div class="panel-body">
			
            <div layout="row" layout-sm="column" layout-xs="column" layout-wrap>
            	 <md-card flex="30" class="cards" ng-repeat="wallpaper in wallpaperList">
                 	<div class="cards-img">
                    	<img ng-src="{{wallpaper.img}}" alt="{{wallpaper.name}}" />
                    </div>
                    <footer>
                       <h3><a ng-click="Download(wallpaper.url)">Download</a></h3> 
                    </footer>
                 </md-card>
                 
            </div>
		</div>
</div>
</section>

<section id="bottomBuffer"></section>